/* debug */
.debug {
  background-color: pink;
  border: 1px solid #000;
}

/* intestazione */
/* nav */
nav {
  background-color: lightblue;
  padding: 40px 0;
}
/* /nav */
/* nav__right */
.nav__right {
  text-align: right;
}
/* /nav__right */

/* hero */
.hero {
  background-color: pink;
}

.hero__contenuto {
  max-width: 600px;
  margin: auto;
  padding: 40px 0;
}
/* /hero */
/* /intestazione */
