/* debug */
.debug {
  background-color: pink;
  border: 1px solid #000;
}

/* mix */
.padding--tb {
  padding: 30px 0;
}
/* /mix */


/* intestazione */
/* nav */
nav {
  background-color: lightblue;
  padding: 40px 0;
}
/* /nav */
/* nav__right */
.nav__right {
  text-align: right;
}
/* /nav__right */

/* hero */
.hero {
  background-color: pink;
}

.hero__contenuto {
  max-width: 600px;
  margin: auto;
  padding: 40px 0;
}
/* /hero */
/* /intestazione */

/* main */
/* sezione portfolio */
.portfolio {
  background-color: #E0BBE4;
}

.portfolio__box {
  min-width: 300px;
  margin: auto;
  border: 1px solid #000;
  padding: 10px;
  margin-top: 30px;
}
/* /sezione portfolio */

/* sezione about */
.about {
  background-color: #D4EBD4;
}

.about__contenuto {
  max-width: 900px;
  margin: auto;
}
/* sezione about */

/* /main */
